<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="target" sequenceNumber="0">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.py4j.feature.feature.group" version="0.10.8.1-bnd-BaEoUg"/>
			<repository location="http://eclipse.py4j.org/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="ds_deps.feature.group" version="1.0.0.201909261804"/>
			<unit id="feature1.feature.group" version="1.0.0.201909261804"/>
			<unit id="feature2.feature.group" version="1.0.0.201909261804"/>
			<unit id="feature3.feature.group" version="1.0.0.201909261804"/>
			<unit id="feature4.feature.group" version="1.0.0.201909261804"/>
			<unit id="feature5.feature.group" version="1.0.0.201909261804"/>
			<unit id="sui_feature.feature.group" version="1.0.0.201909261804"/>
			<repository location="file:/F:/tmp/ds_ide_site/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/photon/"/>
			<unit id="org.eclipse.cvs.feature.group" version="1.4.500.v20180611-0500"/>
			<unit id="org.eclipse.jgit.http.apache.feature.group" version="5.0.0.201806131550-r"/>
			<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.10.0.v201804210200"/>
			<unit id="org.eclipse.emf.common.feature.group" version="2.14.0.v20180527-1134"/>
			<unit id="org.eclipse.emf.feature.group" version="2.14.0.v20180529-1144"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.0.v20180518-2029"/>
			<unit id="org.eclipse.equinox.p2.extras.feature.source.feature.group" version="1.4.0.v20180515-1348"/>
			<unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="1.4.0.v20180515-1348"/>
			<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.4.0.v20180515-1348"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="3.14.0.v20180518-2029"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.python.pydev.feature.feature.group" version="7.3.0.201908161924"/>
			<unit id="org.python.pydev.feature.source.feature.group" version="7.3.0.201908161924"/>
			<repository location="http://www.pydev.org/updates/"/>
		</location>
	</locations>
</target>