<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.onpositive.dside.ui.views.ExperimentsView"
            icon="icons/experiment.png"
            id="com.onpositive.dside.ui.experiments"
            name="Experiments"
            restorable="true">
      </view>
      <view
            class="com.onpositive.dside.ui.views.DataSetsView"
            icon="icons/data_icon.png"
            id="com.onpositive.dside.ui.datasets"
            name="Datasets"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.onpositive.dside.tasks.analize.AnalistsView"
            icon="icons/cf_obj.png"
            id="com.onpositive.dside.tasks.analize"
            name="Analize Predictions"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            class="com.onpositive.dside.ui.navigator.MusketNavigatorContentProvider"
            icon="icons/maven.gif"
            id="com.onpositive.dside.ui.musket.navigator"
            name="Musket Navigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="com.example.test"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               relationship="stack"
               ratio="0.5">
         </view>
      </perspectiveExtension>
      
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension targetID="*">
        <view
              closeable="true"
              id="com.onpositive.dside.tasks.analize"
              moveable="true"
              relationship="stack"
              relative="org.eclipse.ui.editorss"
              standalone="false"
              visible="false"/> 
    </perspectiveExtension>
</extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.onpositive.dside.ui.objectContribution1"
            objectClass="org.eclipse.core.resources.IFolder">
         <action
               class="com.onpositive.dside.ui.views.ShowExperimentsAction"
               icon="icons/experiment.png"
               id="com.onpositive.dside.ui.action1"
               label="Show Experiments">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.onpositive.dside.ui.objectContribution2"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.onpositive.dside.ui.Connect"
               id="com.onpositive.dside.ui.action2"
               label="Connect">
         </action>
         <action
               class="com.onpositive.dside.ui.navigator.NewKaggleDatasetAction"
               id="com.onpositive.dside.ui.action4"
               label="Kaggle Dataset">
         </action>
         <action
               class="com.onpositive.dside.ui.navigator.DownloadDepsAction"
               id="com.onpositive.dside.ui.action4"
               label="Download Dependecies">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.onpositive.dside.ui.expNodeContribution"
            objectClass="com.onpositive.dside.ui.navigator.ExperimentNode">
            <action
               class="com.onpositive.dside.ui.navigator.RunOnKaggleKernelsAction"
               id="com.onpositive.dside.ui.action5"
               label="Run on Kaggle Kernels">
         	</action>
      </objectContribution>
   </extension>
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
	<launchConfigurationType
        delegate="com.onpositive.musket_core.MusketLaunchConfigurationDelegate"
        id="org.python.pydev.debug.musketLaunchConfigurationType"
        modes="run, debug, interactive"
        name="Musket Core Run"
        public="false">
	</launchConfigurationType>
	<launchConfigurationType
        delegate="com.onpositive.musket_core.PublicMusketLaunchConfigurationDelegate"
        id="com.onpositive.dside.musket.launch"
        modes="run, debug"
        name="Musket Core Run"
        public="true">
	</launchConfigurationType>
   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	  <launchConfigurationTypeImage
	     id="com.onpositive.dside.ui.musket.LaunchImage"
	     configTypeID="com.onpositive.dside.musket.launch"
	     icon="icons/experiment.png">
	  </launchConfigurationTypeImage>
	</extension>
    <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.onpositive.dside.tasks.MusketLaunchShortcut"
            icon="icons/experiment.png"
            id="com.onpositive.dside.tasks.MusketLaunchShortcut"
            label="Musket Experiment"
            modes="run, debug">
         <description
               description="Run Musket Experiment Launch"
               mode="run">
         </description>
         <description
               description="Debug Musket Experiment Launch"
               mode="debug">
         </description>
         <configurationType
               id="com.onpositive.dside.musket.launch">
         </configurationType>
         <contextualLaunch>
            <enablement>
               <with variable="selection">
			     <count value="1"/>
			        <iterate>
				       <adapt type="org.eclipse.core.resources.IResource">
				          <test property="org.eclipse.core.resources.name" 
				                value="config.yaml"/>
				       </adapt>
				    </iterate>
			     </with>
            </enablement>
         </contextualLaunch>  
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.onpositive.dside.ui.editors.ExperimentMultiPageEditor"
            contributorClass="com.onpositive.dside.ui.editors.MultiPageEditorContributor"
            default="true"
            filenames="config.yaml, config_concrete.yaml"
            icon="icons/experiment.png"
            id="com.onpositive.dside.ui.editors.ExperimentMultiPageEditor"
            matchingStrategy="com.onpositive.dside.ui.MatchingStategy"
            name="Experiment">
      </editor>
      <editor
            class="com.onpositive.dside.ui.views.DataSetViewer"
            default="false"
            icon="icons/data_icon.png"
            id="com.onpositive.dside.ui.dsviewer"
            name="DataSet Viewer">
      </editor>
      <editor
            class="com.onpositive.dside.ui.editors.preview.augmentation.AugmentationsPreviewEditorPart"
            default="false"
            icon="icons/swatches.png"
            id="com.onpositive.dside.ui.editors.augmentation.preview"
            name="Augmentations Preview">
      </editor>
   </extension>
   <extension
         point="com.onpositive.semantic.model.images">
      <image
            id="run_experiment"
            image="icons/run_exc.png"
            name="run_experiment">
      </image>
      <image
            id="validate"
            image="icons/validate.gif"
            name="validate">
      </image>
      <image
            id="analize"
            image="icons/watch_exp.gif"
            name="analize">
      </image>
      <image
            id="generic_task"
            image="icons/debugt_obj.png"
            name="generic_task">
      </image>
      <image
            id="analize_data"
            image="icons/analize_data.gif"
            name="analize_data">
      </image>
      <image
            id="new_musket"
            image="icons/new_m2_project_wizard.gif"
            name="new_musket">
      </image>
      <image
            id="experiments_obj"
            image="icons/jars_obj.gif"
            name="name">
      </image>
      <image
            id="experiment"
            image="icons/experiment.png"
            name="experiment">
      </image>
      <image
            id="experiment_group"
            image="icons/packagefolder_test_obj.png"
            name="experiment_group">
      </image>
      <image
            id="new_exp_wiz"
            image="icons/newex_wiz.png"
            name="new_exp_wiz">
      </image>
      <image
            id="dataset_wiz"
            image="icons/newex_wiz.png"
            name="dataset_wiz">
      </image>
      <image
            id="com.onpositive.dside.ui.group_wiz_image"
            image="icons/newsrcfldr_wiz@2x.png"
            name="name">
      </image>
      <image
            id="property_obj"
            image="icons/att.gif"
            name="property_obj">
      </image>
      <image
            id="stage"
            image="icons/unstage.png"
            name="stage">
      </image>
      <image
            id="stages"
            image="icons/unstage_all.png"
            name="stages">
      </image>
      <image
            id="architecture"
            image="icons/site_element.png"
            name="architecture">
      </image>
      <image
            id="work"
            image="icons/workset.png"
            name="work">
      </image>
      <image
            id="preprocessor"
            image="icons/css_propertyvalue_function.gif"
            name="preprocessor">
      </image>
      <image
            id="merge"
            image="icons/merge.png"
            name="merge">
      </image>
      <image
            id="layer_unk"
            image="icons/mergesessions.png"
            name="layer_unk">
      </image>
      <image
            id="cache"
            image="icons/saveas_edit_memory.png"
            name="cache">
      </image>
      <image
            id="stack"
            image="icons/stackframe.png"
            name="stack">
      </image>
      <image
            id="filter_x"
            image="icons/filter_ps.png"
            name="filter_x">
      </image>
      <image
            id="wrap"
            image="icons/wordwrap.png"
            name="wrap">
      </image>
      <image
            id="com.onpositive.dside.ui.dataset"
            image="icons/data_icon.png"
            name="name">
      </image>
      <image
            id="history"
            image="icons/history_working_set_obj.png"
            name="history">
      </image>
      <image
            id="refresh"
            image="icons/refresh.png"
            name="refresh">
      </image>
      <image
            id="export"
            image="icons/export.gif"
            name="Export">
      </image>
      <image
            id="export_wiz"
            image="icons/export_wiz.png"
            name="export_wiz">
      </image>
      <image
            id="export_web"
            image="icons/webstatic_deploy.gif"
            name="export_web">
      </image>
      <image
            id="tensorflow"
            image="icons/tensorflow.gif"
            name="tensorflow">
      </image>
      <image
            id="web_prj_wiz"
            image="icons/newwprj_wiz.png"
            name="name">
      </image>
   </extension>
	 <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.musket.pydev.PythonCategory"
            name="Musket"/>
      
      <category
            id="org.musket.pydev.KaggleCategory"
            name="Kaggle"/>
      
      <wizard
            category="org.musket.pydev.PythonCategory"
            class="com.onpositive.dside.wizards.ImportKaggleDatasetWizard"
            finalPerspective="com.onpositive.dside.ui.perspective"
            hasPages="true"
            icon="icons/experiment.png"
            id="com.onpositive.dside.ui.kaggle_dataset"
            name="Kaggle Dataset"
            project="false">
      </wizard>
      <wizard
            category="org.musket.pydev.PythonCategory"
            class="com.onpositive.dside.wizards.KaggleRunView"
            finalPerspective="com.onpositive.dside.ui.perspective"
            hasPages="true"
            icon="icons/experiment.png"
            id="com.onpositive.dside.ui.kaggle_run"
            name="Run on Kaggle kernel"
            project="false">
      </wizard>
      
      <wizard
            canFinishEarly="false"
            category="org.musket.pydev.PythonCategory"
            class="com.onpositive.dside.wizards.MusketProjectWizard"
            finalPerspective="com.onpositive.dside.ui.perspective"
            hasPages="true"
            icon="icons/lab16.png"
            id="org.python.pydev.ui.wizards.project.MusketProjectWizard"
            name="Musket Project"
            preferredPerspectives="com.onpositive.dside.ui.perspective, org.python.pydev.ui.PythonPerspective"
            project="true"/>
      <wizard
            category="org.musket.pydev.PythonCategory"
            class="com.onpositive.dside.wizards.NewMusketExperimentWizard"
            finalPerspective="com.onpositive.dside.ui.perspective"
            hasPages="true"
            icon="icons/experiment.png"
            id="com.onpositive.dside.ui.musket"
            name="Musket Experiment"
            project="false">
      </wizard>
      <wizard
            category="org.musket.pydev.PythonCategory"
            class="com.onpositive.dside.wizards.NewMusketGroupWizard"
            finalPerspective="com.onpositive.dside.ui.perspective"
            hasPages="true"
            icon="icons/experiments16.png"
            id="com.onpositive.dside.ui.groupWizard"
            name="New Experiment Group">
      </wizard>
     </extension>   
     <extension point="org.eclipse.ui.navigator.navigatorContent">

      <navigatorContent
            activeByDefault="true"
            contentProvider="com.onpositive.dside.ui.navigator.MusketNavigatorContentProvider"
            icon="platform:/plugin/org.python.pydev.shared_ui/icons/python_16x16.png"
            id="org.python.pydev.navigator.musketcontent"
            labelProvider="com.onpositive.dside.ui.navigator.MusketLabelProvider"
            name="Musket Navigator Content"
            priority="normal">
         <triggerPoints>
             <or>
                <instanceof value="org.eclipse.core.resources.IWorkspaceRoot" />
                <instanceof value="org.eclipse.ui.IWorkingSet"/>
                <and>
                   <instanceof value="org.eclipse.core.resources.IProject"/>
                   <test
                         forcePluginActivation="true"
                         property="org.eclipse.core.resources.projectNature"
                         value="org.python.pydev.pythonNature"/>
                </and>
                <instanceof value="org.eclipse.core.resources.IFolder"/>
                <instanceof value="org.eclipse.core.resources.IStorage"/>
                <instanceof value="org.eclipse.core.resources.IFile"/>
                <instanceof value="org.eclipse.core.resources.IResource"/>
                <instanceof value="org.python.pydev.navigator.elements.IWrappedResource"/>
                <instanceof value="org.python.pydev.shared_core.structure.TreeNode"/>
                <instanceof value="org.python.pydev.navigator.elements.PythonNode"/>
                <instanceof value="org.python.pydev.navigator.elements.ProjectConfigError"/>
            </or>
         </triggerPoints>
         <commonSorter
	      class="com.onpositive.dside.ui.navigator.ExperimentResourcesComparator"
	            id="com.onpositive.dside.ui.navigator.defaultSorter">
			  <parentExpression>
			        <or>         
				       <instanceof 
			    	       value="com.onpositive.dside.ui.navigator.ExperimentNode" /> 
				   </or>
			  </parentExpression>
	 	 </commonSorter>
         <commonWizard
               type="new"
               wizardId="org.python.pydev.ui.wizards.project.MusketProjectWizard">
         </commonWizard>
         <!-- that's so that we only have the python content shown, and not the resource content -->

      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="com.onpositive.dside.ui.navigator.ExperimentsFilter"
            id="com.onpositive.dside.ui.commonFilter1"
            name="Experiments Folder Filter"
            visibleInUI="true">
      </commonFilter>
      <actionProvider
            class="com.onpositive.dside.ui.navigator.BasicActionProvider"
            id="com.onpositive.dside.ui.navigator.BasicActionProvider"
            priority="high">
         <enablement></enablement>
      </actionProvider>
	  <!-- The ones below are copied from org.eclipse.ui.navigator.resources, with changes from 'instanceof' to 'adapt type'

	  It seems that eclipse 3.6 fixed that, so, it's not needed anymore.
      <commonFilter activeByDefault="true"
	      name="PyDev: .* resources"
	      description="PyDev: .*resources"
	      id="org.python.pydev.navigator.filters.startsWithDot"
	  	  class="org.python.pydev.navigator.filters.DotStartFilter">
      </commonFilter>
      -->
    </extension>

    <!-- Bind the content extension to the viewer -->
    <extension point="org.eclipse.ui.navigator.viewer">
        <viewerContentBinding viewerId="org.python.pydev.navigator.view">
            <includes>
                <contentExtension pattern="org.python.pydev.navigator.musketcontent"/>
                <contentExtension
                      pattern="com.onpositive.dside.ui.commonFilter1">
                </contentExtension>
            </includes>
        </viewerContentBinding>
        <viewerActionBinding viewerId="org.python.pydev.navigator.view">
            <includes>
             <actionExtension
                   pattern="com.onpositive.dside.ui.navigator.BasicActionProvider">
             </actionExtension>
            </includes>
        </viewerActionBinding>
    </extension>
    <extension
          point="org.eclipse.ui.popupMenus">
       <objectContribution
             adaptable="true"
             id="com.onpositive.dside.ui.objectContribution1"
             objectClass="com.onpositive.dside.ui.navigator.IExperimentContribution">
          <action
                class="com.onpositive.dside.ui.navigator.DeleteAction"
                icon="icons/delete.gif"
                id="com.onpositive.dside.ui.action1"
                label="Delete"
                menubarPath="group.edit">
          </action>
          <action
                class="com.onpositive.dside.ui.navigator.RenameAction"
                id="com.onpositive.dside.ui.action2"
                label="Rename..."
                 menubarPath="group.edit">
          </action>
          
       </objectContribution>
       <objectContribution
             adaptable="true"
             id="com.onpositive.dside.ui.objectContribution1"
             objectClass="com.onpositive.dside.ui.navigator.IHasExperiments">
             <action
                class="com.onpositive.dside.ui.navigator.NewExperimentAction"
                icon="icons/experiment.png"
                id="com.onpositive.dside.ui.action3"
                label="New Experiment"
                menubarPath="group.new">
          	 </action>
             <action
                   class="com.onpositive.dside.ui.navigator.NewExperimentGroup"
                   icon="icons/packagefolder_test_obj.png"
                   id="com.onpositive.dside.ui.action3"
                   label="New Experiment Group"
                   menubarPath="group.new">
             </action>
         </objectContribution>  
         <objectContribution
             adaptable="true"
             id="com.onpositive.dside.ui.experiments.duplicate"
             objectClass="com.onpositive.dside.ui.navigator.ExperimentNode">
             <action
                class="com.onpositive.dside.ui.navigator.DuplicateExperimentAction"
                icon="icons/duplicate_16.png"
                id="com.onpositive.dside.ui.experiments.duplicate.action"
                label="Duplicate Experiment"
                menubarPath="group.new">
          	 </action>             
          	 <action
               class="com.onpositive.dside.ui.views.AddExperimentsToViewAction"
               id="com.onpositive.dside.ui.AddExperimentsToViewAction"
               icon="icons/experiment_add.png"
               label="Add to Experiments View"
               menubarPath="group.new">
         	 </action>
         </objectContribution>
    </extension>
    <extension
          point="org.eclipse.ui.decorators">
       <decorator
             adaptable="true"
             class="com.onpositive.dside.ui.decorators.ReadOnly"
             id="com.onpositive.dside.ui.decorators.ReadOnly"
             label="Read-only Decorator"
             lightweight="true"
             state="true">
          <enablement>
         	<or>
                <objectClass
                      name="com.onpositive.dside.ui.navigator.IHasExperiments">
                </objectClass>
               <objectClass
                     name="com.onpositive.dside.ui.navigator.ExperimentNode">
               </objectClass>
            </or>
          </enablement>
       </decorator>
    </extension>
    <extension
          id="product"
          point="org.eclipse.core.runtime.products">
       <product
             application="org.eclipse.ui.ide.workbench"
             name="%product.name">
          <property
                name="windowImages"
                value="icons/app/net_16.png,icons/app/net_32.png,icons/app/net_64.png,icons/app/net_128.png">
          </property>
          <property
                name="aboutText"
                value="%productBlurb">
          </property>
          <property
                name="aboutImage"
                value="icons/app/net_128.png">
          </property>
          <property
                name="startupForegroundColor"
                value="e6e8ff">
          </property>
          <property
                name="startupProgressRect"
                value="2,250,450,10">
          </property>
          <property
                name="startupMessageRect"
                value="7,235,320,15">
          </property>
          <property
                name="appName"
                value="%product.name">
          </property>
          <property
                name="preferenceCustomization"
                value="plugin_customization.ini">
          </property>
       </product>
    </extension>
    <extension
          id="com.onpositive.dside.ui.musketBuilder"
          name="Muster Project Builder"
          point="org.eclipse.core.resources.builders">
       <builder
             hasNature="true">
          <run
                class="com.onpositive.dside.ui.builder.SampleBuilder">
          </run>
       </builder>
    </extension>
    <extension
          id="com.onpositive.dside.ui.musketNature"
          name="Musket Project Nature"
          point="org.eclipse.core.resources.natures">
       <runtime>
          <run
                class="com.onpositive.dside.ui.builder.MusketNature">
          </run>
       </runtime>
       <builder
             id="com.onpositive.dside.ui.musketBuilder">
       </builder>
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <category
             id="com.onpositive.dside.ui.musketNature.category"
             name="Musket Project Nature commands">
       </category>
       <command
             categoryId="com.onpositive.dside.ui.musketNature.category"
             defaultHandler="com.onpositive.dside.ui.builder.AddRemoveMusketNatureHandler"
             id="com.onpositive.dside.ui.addRemoveMusketNature"
             name="Add/Remove Musket Project Nature">
       </command>
       <command
             defaultHandler="com.onpositive.dside.ui.datasets.CompareCSVDataSets"
             id="com.onpositive.dside.ui.compare"
             name="Compare CSV DataSets">
       </command>
       <command
             defaultHandler="com.onpositive.dside.ui.datasets.CreateDataSetFromFolder"
             id="com.onpositive.dside.ui.createFromFolder"
             name="Create dataset from folder">
       </command>
       <command
             defaultHandler="com.onpositive.dside.ui.handlers.AnalyzeAugmentationsHandler"
             id="com.onpositive.dside.ui.config.analyzeAugmentations"
             name="Analyze augmentations">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
        <menuContribution
             locationURI="popup:org.eclipse.ui.popup.any?after=additions">
             <command
                   commandId="com.onpositive.dside.ui.compare"
                   icon="icons/mergesessions.png"
                   label="Compare CSV DataSets"
                   style="push">
             <visibleWhen
                   checkEnabled="false">
                <with
                      variable="selection">
                   <count
                         value="2">
                   </count>
                     <iterate>
				       <adapt type="org.eclipse.core.resources.IResource">
				          <test property="org.eclipse.core.resources.name" 
				                value="*.csv"/>
				       </adapt>
				    </iterate>
                </with>
             </visibleWhen>
          </command>
        </menuContribution>
        <menuContribution
             locationURI="popup:org.eclipse.ui.popup.any?after=additions">
             <command
                   commandId="com.onpositive.dside.ui.createFromFolder"
                   icon="icons/palette_layout.gif"
                   label="Create dataset from folder"
                   style="push">
             <visibleWhen
                   checkEnabled="false">
                <with
                      variable="selection">
                   <count
                         value="1">
                   </count>
                   <iterate>
                      <adapt
                            type="org.eclipse.core.resources.IFolder">
                         
                         
                      </adapt>
                   </iterate>
                </with>
             </visibleWhen>
          </command>
        </menuContribution>    
       <menuContribution
             locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
          <command
                commandId="com.onpositive.dside.ui.addRemoveMusketNature"
                label="Disable Musket builder"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <with
                      variable="selection">
                   <count
                         value="1">
                   </count>
                   <iterate>
                      <adapt
                            type="org.eclipse.core.resources.IProject">
                         <test
                               property="org.eclipse.core.resources.projectNature"
                               value="com.onpositive.dside.ui.musketNature">
                         </test>
                      </adapt>
                   </iterate>
                </with>
             </visibleWhen>
          </command>
          
          <command
                commandId="com.onpositive.dside.ui.addRemoveMusketNature"
                label="Enable Musket builder"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <with
                      variable="selection">
                   <count
                         value="1">
                   </count>
                   <iterate>
                      <adapt
                            type="org.eclipse.core.resources.IProject">
                         <not>
                            <test
                                  property="org.eclipse.core.resources.projectNature"
                                  value="com.onpositive.dside.ui.musketNature">
                            </test>
                         </not>
                      </adapt>
                   </iterate>
                </with>
             </visibleWhen>
          </command>
       </menuContribution>
       <menuContribution
            locationURI="popup:yamleditor.editors.YamlEditor.context?after=additions">
         <command
               commandId="com.onpositive.dside.ui.config.analyzeAugmentations"
               icon="icons/swatches.png">
	 	 </command>
       </menuContribution>	 	 
    </extension>
    <extension
          id="com.onpositive.musketProblem"
          name="Musket Problem"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.problemmarker">
       </super>
       <super type="org.eclipse.core.resources.textmarker" />         
       <persistent
             value="true">
       </persistent>
    </extension>
    <extension
          id="product1"
          point="org.eclipse.core.runtime.products">
       <product
             application="org.eclipse.ui.ide.workbench"
             name="x">
          <property
                name="appName"
                value="x">
          </property>
       </product>
    </extension>
    <extension
          point="org.eclipse.ui.importWizards">
          <category
            id="org.musket.pydev.PythonCategory"
            name="Musket"/>
      
      <category
            id="org.musket.pydev.KaggleCategory"
            name="Kaggle"/>
      
      <wizard
            category="org.musket.pydev.PythonCategory"
            class="com.onpositive.dside.wizards.ImportKaggleDatasetWizard"
            finalPerspective="org.python.pydev.ui.PythonPerspective"
            hasPages="true"
            icon="icons/experiment.png"
            id="com.onpositive.dside.ui.kaggle_dataset"
            name="Kaggle Dataset"
            project="false">
      </wizard>
    </extension>
    <extension
          point="org.eclipse.ui.elementFactories">
       <factory
             class="com.onpositive.dside.ui.datasets.FolderEditorInputFactory"
             id="com.onpositive.dside.ui.datasets.FolderEditorInputFactory">
       </factory>
    </extension>
    <extension
	    point="org.eclipse.debug.ui.launchConfigurationTabGroups">
	    <launchConfigurationTabGroup
	        class="com.onpositive.dside.ui.launch.MusketTabGroup"
	        id="com.onpositive.dside.ui.launch.MusketTabGroup"
	        type="com.onpositive.dside.musket.launch">
	    </launchConfigurationTabGroup>
	</extension>
	<extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="DS IDE"
            icon="icons/lab16.png"
            class="com.onpositive.dside.ui.perspective.DSIDEPerspectiveFactory"
            id="com.onpositive.dside.ui.perspective">
      </perspective>
   </extension>
   <extension point="org.eclipse.ui.intro"> 
      <intro
            class="com.onpositive.dside.ui.welcome.DSIDEIntroPart"
            icon="icons/welcome16.png"
            id="com.onpositive.dside.ui.intro"
            label="Welcome"/>
      <introProductBinding
            introId="com.onpositive.dside.ui.intro"
            productId="com.onpositive.dside.ui.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.onpositive.dside.ui.editors.ObjectEditorInputFactory"
            id="com.onpositive.dside.ui.editors.ObjectEditorInputFactory">
      </factory>
   </extension> 
   <!-- Context for Yaml-based preview                                     -->
   <extension point="org.eclipse.ui.contexts">
	  <context
	        name="Yaml context"
	        description="Editing Yaml files"
	        parentId="org.eclipse.ui.textEditorScope"
	        id="com.onpositive.dside.ui.editors.preview.context">
	  </context>
   </extension>    
</plugin>
